<?xml version="1.0" encoding="UTF-8"?>
<root>
    <debugMode>true</debugMode>
    <updateInterval>20000</updateInterval>
    <channels>
        <channel id="ReaderRandom">
            <key>S27C7UVFC4X9PKAK</key>
            <field>1</field>
        </channel>
        <channel id="ReaderCPU">
            <key>S27C7UVFC4X9PKAK</key>
            <field>2</field>
        </channel>
    </channels>
</root>